<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcc.study.shiro.mapper.PermissionMapper">

   <select id="listPermissionsByRoleId" resultType="permission" parameterType="long">
       SELECT
	        p.id id,
	        p. CODE CODE,
	        p.permission_name permission_name
       FROM
	        role_permission rp
       LEFT JOIN sys_permission p ON rp.permission_id = p.id
       WHERE
	        rp.role_id = #{roleId}
   </select>
</mapper>